<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Values</title>
</head>
<body>
    <div id="values-container">
        <h2>X Value: <span id="x-value">-</span></h2>
        <h2>Y Value: <span id="y-value">-</span></h2>
        <h2>Yaw Value: <span id="yaw-value">-</span></h2>
    </div>
    <!-- <script src="script.js"></script> -->
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
