{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Tracker</title>
</head>
<body>
    <button id="play-button" onclick="buttonPress()">OFF</button>
    <button id="geo-button" onclick="mark()">Mark Location</button>
    <div class="coordinates">
        <p><strong>Current Coordinates:</strong></p>
        <p id="x-coordinate">X: </p>
        <p id="y-coordinate">Y: </p>
        <p id="yaw-coordinate">Yaw: </p>
    </div>
    <div class="map">
        <canvas id="myMap" width="400" height="400"></canvas>
    </div>

    <div class="cards"></div>
    <div class="nearby invisible">
        Nearby:
        <div class="nearby-list"></div>
    </div>
    <form class="mark invisible">
        <label for="location_name">Location Name:</label><br>
        <input type="text" id="location_name" name="location_name"><br>
        <input type="submit" value="Submit">
    </form>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
